flask
pymongo
mongoengine
dnspython
flask_login
flask_mongoengine
flask-bcrypt
cryptography
flask-fs
passlib
pytz
pyjwt
Flask-WTF
flask_uploads
gunicorn==20.0.4
requests==2.24.0
twilio
python-dotenv
jinja2==3.1.3
Flask-Caching
pillow
wonderwords
argon2_cffi
