{% extends "base.html" %} {% block content %}

<!-- <Body background="{{url_for('static', filename='sakura.png')}}" style="
 background-repeat: no-repeat;background-size: 100% 100%;"
;
  >   -->
<link rel="stylesheet" href="{{ url_for('static',filename='message.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='style.js') }}"></script>
<link rel="icon" type="image/png" href="/icon.png"/>



<div class="readind_stuff">

    <div style="padding:5.7%;">


        <!-- /home/spectrum93/Desktop/message/message/templates/assets/test.png -->
        <div id="Aboutbox">
            <!-- <img src="{{url_for('static', filename='got your back.png')}}"  style="max-width: 64% ";
           /> -->
           <h1>About</h1>
           
           <br>
            <p>
                
                Meet ProjectBff: Your Friendship Lifeline
            </p>
            <p>
                
                Ever felt like your best friend is miles away, even if they're just a text or call away? That's where ProjectBff steps in – your new go-to for keeping those best friend vibes alive and well!
            </p>
            <p>
                Life gets crazy, and sometimes it's hard to find the right words to stay connected. But with ProjectBff, you can easily write heartfelt letters to your bestie. No need to stress about distance or time zones; this project is all about keeping the BFF flame burning.


            </p>
            <p>
                Picture this: a tool that helps you share your stories, express your feelings, and relive those special moments with your best friend. It's not just about typing messages on a screen; it's about creating a bond that lasts. ProjectBff is here to make sure you and your bestie stay tight, no matter where life takes you.            
            </p>


            <p>
                Say goodbye to missing out on each other's lives and hello to the joy of handwritten letters. Let's keep it simple: ProjectBff is all about making sure you and your best friend stay "best friends forever." 
            </p>

            <p>
                So, why wait? Let ProjectBff be your friend-connector, your memory-keeper, and the secret sauce to your everlasting friendship. Because when it comes to your best friend, ProjectBff makes sure they're just a heartfelt letter away. Because you are gonna be . . .         
            </p>

            
            
            <img src="{{url_for('static', filename='bff.png')}}"   align="center" style="max-width: 55%" ;
            />
            <img src="{{url_for('static', filename='doggo.png')}}"   align="right" style="max-width: 18%" float:right ;
            />
        </div>



    </div>

    {% endblock %}