{% extends "base.html" %} {% block content %}

<!-- <Body background="{{url_for('static', filename='sakura.png')}}" style="
 background-repeat: no-repeat;background-size: 100% 100%;"
;
  >   -->
<link rel="stylesheet" href="{{ url_for('static',filename='message.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='style.js') }}"></script>
<link rel="icon" type="image/png" href="/icon.png"/>



<div class="readind_stuff">

    <div style="padding:5.7%;">


        <!-- /home/spectrum93/Desktop/message/message/templates/assets/test.png -->
        <div id="Aboutbox">
            <img src="{{url_for('static', filename='got your back.png')}}"  style="max-width: 64% ";
           />
           <br>
           <br>
            <p>
             It's purpose is to bring that smile back and the person who drew it. To shatter the distance between us so we can once again say "I've got your back !"
            </p>
            <p>
                
                "Ppl grow apart as they move to different phases of life, they have less time for each other" let's prove that wrong. I'll let every effort to be the closest to you so I can at least except something, right? 😁
            </p>
            <p>
            I don't feel so good when I feel that I'm distant from you, I want to get closer to you again and remain that way. Like an active part of your life. I want to show you that I'm not negative anymore and by accepting me in your life again I'll always make you really really happy :) 
            </p>
            <p>
                because we will always be . . .
            </p>
            <img src="{{url_for('static', filename='bff.png')}}"   align="center" style="max-width: 55%" ;
            />
            <img src="{{url_for('static', filename='doggo.png')}}"   align="right" style="max-width: 18%" float:right ;
            />
        </div>



    </div>

    {% endblock %}