{% extends "base.html" %} {% block content %}

<style>
    .error-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #fefefe;
    }

    .error-container {
        text-align: center;
    }

    .error-code {
        font-size: 5em;
        color: #e74c3c;
        margin-bottom: 10px;
    }

    .error-message {
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .back-link {
        display: inline-block;
        text-decoration: none;
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.2em;
        transition: background-color 0.3s;
    }

    .back-link:hover {
        background-color: #2980b9;
    }

    /* Customized styling for BFF theme */
    .error-code {
        font-family: 'Comic Sans MS', cursive;
    }

    .error-message {
        color: #e74c3c;
    }

    .back-link {
        background-color: #ff69b4; /* Hot pink color */
    }

    .back-link:hover {
        background-color: #ff1493; /* Darker pink on hover */
    }

    /* Media query for smaller screens */
    @media screen and (max-width: 600px) {
        .error-code {
            font-size: 3.5em; /* Decrease font size for error code */
        }

        .error-message {
            font-size: 1em; /* Decrease font size for error message */
        }

        .back-link {
            font-size: 1em; /* Decrease font size for back link */
            padding: 8px 16px; /* Adjust padding for smaller screens */
        }
    }
</style>
<div class="error-page">
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-message">Oops! Something went wrong</div>
        <div class="error-message">Error info: {{error}}</div>
        
        <a href="{{url_for('home')}}" class="back-link">Go back to home</a>
    </div>
</div>

{% endblock %}