{% extends "base.html" %} {% block content %}

<style>
    /* Add this to your existing CSS or in a separate stylesheet */
    .share-box {
      border: 2px solid aliceblue;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 15px;

      padding: 4px; /* Add padding to create space between text and box edges */
    }

    .share-text {
      color: rgb(0, 0, 0);
      font-size: smaller;
      line-height: 1.7; /* Adjust the line height as needed */
    }
  
/* Default padding for normal devices */
section{
    zoom: 0.9;
}

    .bottom-right {
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 10px;
      font-size: smaller;
      font-weight: 800;
    }


/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 767px) {
    section {
        zoom: 1;
    }
}

</style>
<section id="pricing" class="pricing">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="manifest" href="manifest.json">

    <div class="container" data-aos="fade-up">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="row">
          
            <div class="col-lg-5 col-md-6 mt-4 mt-md-0" id="koi1">
                <div class="gradient-border  coolbox">
                    <h3 style="font-size: 0.6em;">{{current_user["username"]}}'s Inbox</h3>

                    <h4><span>glad to see you here :)</span></h4>
                    <div class="list-group">
                        <ul>
                            <div class="" style="padding:2%">
                                <div class="row">
                                    {% if letters %} {% for letter in letters %} {% if letter.status == "read" %}
                                    <div style="margin-top:0.2em ; padding-bottom: 2.4%;">
                                        <a class="card bg-c-blue order-card" type="button" href="{{url_for('letter', id=letter.id)}}">
                                            <div class="card-block">

                                                <!-- <i class="bi bi-envelope"></i> new message -->

                                                <i class="bi bi-envelope-open f-right" style="padding-right: 2.5%;"></i>
                                                <span style="float: left; padding: 2%; font-weight: 700; font-size: 17px;">
                                                       {{letter.title[0:27]}}...</span>

                                            </div>

                                        </a>
                                    </div>
                                    {% elif letter.status=="sent" %}
                                    <div style="margin-top:0.2em ; padding-bottom: 2.4%;">
                                        <a class="card bg-c-yellow order-card" type="button" href="{{url_for('letter', id=letter.id)}}">
                                            <div class="card-block">
                                                <div>
                                                    <i class="bi bi-envelope f-right" style="padding-right: 2.5%;"></i>
                                                    <p class="m-b-0 f-right" style="padding-right: 2.5%; font-weight: 500;"><span class="f-right">New!</span></p>

                                                </div>

                                                <span style="float: left; padding: 2%; font-weight: 700; font-size: 17px;">
                                                   {{letter.title[0:27]}}...</span>
                                            </div>

                                        </a>


                                    </div>
                                    {% endif %} {% endfor %}


                                </div>
                                {% else %}
                            </div>
                            
                                {% if current_user["partners"]==[] %}
                                
                                    <div class="share-box">
                                        <h3 class="share-text">Share your 4-letter friend-code from the bottom right of your screen with your friends so they can add you as their partner🤗</h3>
                                    </div>
                                    <div class="share-box">
                                        <h3 class="share-text">You can add your friends as partners by asking their Friend-Code and entering it in Add-Friend page from the top navigatigation📝</h3>
                                    </div>

                                    <div class="share-box">
                                    <h3 class="share-text">If you want you can also use a mobile version, just open the link from any browser on your phone and click the 3-dots on top right, then select 'install app'📱</h3>
                                    </div>
                                    <div class="share-box">
                                        <h3 class="share-text">while sending letters to your friends you can also choose to attach images, but please try the that file size isn't a lot😅</h3>
                                    </div>
                                    <div class="share-box">
                                        <h3 class="share-text">I guess that's all you need to know to get started. if you have any questions, suggestions, problems or anything at all. feel free to send us a feedback from the top navigation option. I hope you and your friends have an amazing time on ProjectBFF😇</h3>
                                    </div>
                                {% else %}
                                    <h3 style="color: gray;">Nothing here yet o_o</h3>
                                {% endif %}

                            {% endif %}
                            
                        </ul>
                    </div>
                    <div class="btn-wrap">

                        <a href="{{url_for('write')}}" class="btn-buy">Write a Letter</a>
                    </div>
                </div>
              
            </div>




        </div>



    </div>

    </div>
</section>
{% if current_user.is_authenticated %}
<p class="bottom-right">({{ current_user["friend_code"] }})</p>
{% endif %}


<!-- End Pricing Section -->
<script type="module">
    import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
    const el = document.createElement('pwa-update');
    document.body.appendChild(el);
 </script>

{% endblock %}