{% extends "base.html" %} 
{% block content %} 
 
<link rel="stylesheet" href="{{ url_for('static',filename='message.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static',filename='stamp.css') }}"> 

<script type="text/javascript" src="{{ url_for('static', filename='style.js') }}"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" /> 
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet" /> 

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>

<style>
    #box{
        background-image: url("{{ url_for('static', filename='letter_bg.jpg') }}");
        background-size: auto; /* or contain, depending on your preference */

    }
.reading_stuff{
    background-image: url("{{ url_for('static', filename='morecats.png') }}");
    background-size: contain;  
    background-repeat: round;




}

</style>

<div id="progress-bar"></div> 
 
<div class="reading_stuff"> 
    <div id="box" style="padding:5.7%;"> 
    
     <div class="stamp-title">
    <div class="letter-title">

        <h1 style="padding-bottom:8%;margin-bottom: 4%;"><u class="line">{{message.title}} </u></h1> 
    </div>
                
        <div class="full"> 
            <div class="canvas">     
            <div class="stamp-outline">        
                <div class="stamp-border">
                    <div class="stamp-background">
                    <div class="stamp-image-background" style="background: url('data:image/jpeg;base64,{{ stamp }}'); background-size: contain;     background-repeat: round;
                    "> 
                    <!-- <div class="stamp-image-background" style="background: url({{message.stamp_url}}); background-size: contain;     background-repeat: no-repeat;
                    ">  -->
                    </div>
                    <div class="callout timestamp">  
                        <h6  >{{message.timestamp}} <br>By {{message.author}}</h6> 
                    </div>     

                    </div> 
                    </div>

            </div>

            </div>
        </div>


        
    </div>


        

        <div class="para">
            {% for i in content %}
                <p>{{i}} </p>                        
            {% endfor %}

            <br>
            {% if links %}
                <h4>Links:</h4>
                <ul id="link-list">
                    {% for link in links %}
                        <li id="link-item">
                            <a href="{{ link }}" target=”_blank”  id="links">{{ link }}</a>
                        </li>
                    {% endfor %} 
                </ul>
            {% endif %}

        </div>
        
        <form> 
            <input type="hidden" name="PreSelect" value="{{ message.author }}"> 
            <button type="submit" class="fill" formaction="{{url_for('write')}}">Reply Now ?</button> 
        </form> 
    </div> 
</div> 
    {% if img_data  %} 
    <div class="external">
        <h2 style="margin: 2.5%; align-self: center;">Photograhps</h2>
        <div class="horizontal-scroll-wrapper">
            {% for image in img_data %}
            <div class="img-wrapper slower">
                <a href="data:image/jpeg;base64,{{ image }}"  class="a" data-fancybox="gallery" >
                    <img class="myImage"  src="data:image/jpeg;base64,{{ image }}" alt="Displayed Image">
                </a>
            </div>
            {% endfor %}
            
        </div>
    </div>
    {% endif %} 
    <script type="text/javascript" src="{{ url_for('static', filename='message.js') }}"></script>

 
<!-- to remember the scroll positions --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
 


<script type="text/javascript"> 

$(document).ready(function () { 
  
    if (localStorage.getItem("{{message.id}}") != null) { 
        $(window).scrollTop(localStorage.getItem("{{message.id}}")); 
    } 
    $(window).on("scroll", function() { 
        localStorage.setItem("{{message.id}}", $(window).scrollTop()); 
    }); 
}); 
</script> 
{% endblock %}