{% extends "base.html" %} {% block content %}

<div class="container row justify-content-center login-box">
    <h1>Login</h1>
    <form method="POST" action="" class="">
        <div class="">
            {{form.hidden_tag()}}
            <div class="">
                {{form.username.label}} {% if form.username.errors %} {{form.username(class="is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span class="is-invalid">
                            {{error}}
                          </span> {% endfor %}

                </div>
                {% else %} {{form.username( autocomplete="off")}} {% endif %}

            </div>
            <div class="">
                {{form.password.label}} {% if form.password.errors %} {{form.password(class="is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>
                            {{error}}
                          </span> {% endfor %}

                </div>
                {% else %} {{form.password}} {% endif %}
            </div>

            <div class="addButton details">
                {{form.submit(class = "btn btn-primary")}}
            </div>


    </form>
    </div>
    {% endblock %}
