{% extends "base.html" %} {% block content %}
<!-- make add some instructions about formatting texts -->

<div style="padding-left: 5%; padding-right: 5%; padding-top: 2.9%;">
    <!-- later when we add draft feature 
        <div class="info">
        <p><strong>if you can't finish in one go, please click "finish later" to save it for later</strong></p>
    </div> -->

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> {{form.hidden_tag()}}

        <div>
            {{ form.receiver(class="form-select",  default=PreSelect, id="theReceiver") }}

            {{form.title(class="ui-autocomplete-input title write ", autocomplete="off", id="theTitle")}}
            <!-- <button name="save" value="yes" style="float:  right;">finish later</button>  -->
            {{form.submit(class = "btn btn-primary",style="float: right", onclick="localStorage.clear(); ")}}
        </div>
        <!-- {{form.content(class="ui-autocomplete-input content write" ,style="padding: 2.8em;",autocomplete="off")}} -->
        {{form.content(class="ui-autocomplete-input content write" ,style="padding: 2.8em; font-size: 17px; font-family: 'Open Sans', sans-serif;",autocomplete="off", id="theContent")}}



</div>
<script>
    console.log("hi:", localStorage.getItem('theReceiver{{ userId }}'))
    theReceiver
    theReceiver.value = localStorage.getItem('theReceiver{{ userId }}');
    theReceiver.onchange  = () => {
        localStorage.setItem('theReceiver{{ userId }}', theReceiver.value)
    };

    theTitle.value = localStorage.getItem('theTitle{{ userId }}');
    theTitle.oninput = () => {
        localStorage.setItem('theTitle{{ userId }}', theTitle.value)
    };

    theContent.value = localStorage.getItem('theContent{{ userId }}');
    theContent.oninput = () => {
        localStorage.setItem('theContent{{ userId }}', theContent.value)
    };  
</script>

{% endblock %}