{% extends "base.html" %} {% block content %}
<!-- make add some instructions about formatting texts -->

<div style="padding-left: 5%; padding-right: 5%; padding-top: 2.9%;">
    <!-- later when we add draft feature 
        <div class="info">
        <p><strong>if you can't finish in one go, please click "finish later" to save it for later</strong></p>
    </div> -->
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> {{form.hidden_tag()}}

        <div>
            {{form.title(class="ui-autocomplete-input title write ", autocomplete="off", id="thetitle")}}
            <!-- <button name="save" value="yes" style="float:  right;">finish later</button>  -->
            {{form.submit(class = "btn btn-primary",style="float: right", onclick="localStorage.clear(); ")}}
        </div>
        <!-- {{form.content(class="ui-autocomplete-input content write" ,style="padding: 2.8em;",autocomplete="off")}} -->
        {{form.content(class="ui-autocomplete-input content write" ,style="padding: 2.8em; font-size: 17px; font-family: 'Open Sans', sans-serif;",autocomplete="off", id="thecontent")}}



</div>
<script>
    thetitle.value = localStorage.getItem('thetitle_{{ userId }}');
    thetitle.oninput = () => {
        localStorage.setItem('thetitle_{{ userId }}', thetitle.value)
    };

    thecontent.value = localStorage.getItem('thecontent_{{ userId }}');
    thecontent.oninput = () => {
        localStorage.setItem('thecontent_{{ userId }}', thecontent.value)
    };  
</script>
{% endblock %}