
html {
    scroll-behavior: smooth;
}


#header {
    transition: all 0.5s;
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #e6f2fb;
}


    .navbar {
        padding: 0;
    }
    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 14px;
        color: #16507b;
        white-space: nowrap;
        transition: 0.3s;
        font-weight: 600;
    }
    .nav-item{
        padding-left: 1.2em;
    }


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}
   
    
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}


.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

/* Scrollbar styles */
    
::-webkit-scrollbar {
    width: 7px;
    height: 12px;
}

 ::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(3, 118, 196);
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #2487ce;
    text-decoration: none;
}

a:hover {
    color: #469fdf;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

  
html {
    scroll-behavior: smooth;
}
section {
    padding: 24px 0;
    overflow: hidden;
}

      
    .row {
        display: flex;
        justify-content: center;
        margin-top: 1.5%;
        bottom: 2%;
    }
    /* ====== */
    
    h2 {
        margin-left: 55px;
    }
   
    .content {
        border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
        border-image: none;
        border-radius: 6px 6px 6px 6px;
        border-style: none solid solid solid;
        border-width: medium 1px 1px medium;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 21em;
        font-size: 1em;
        line-height: 1.4em;
        font-weight: 500;
        padding: 5px 8px;
        transition: background-color 0.2s ease 0s;
    }
    
    .title {
        border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
        border-image: none;
        border-radius: 6px 6px 6px 6px;
        border-style: none solid solid solid;
        border-width: medium 1px 1px medium;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 30%;
        height: 10%;
        font-family: "Gill Sans", sans-serif;
        font-size: 1em;
        line-height: 1.4em;
        font-weight: 600;
        padding: 5px 8px;
        margin: 2px;
        transition: background-color 0.2s ease 0s;
    }
    
    .write:focus {
        background: none repeat scroll 0 0 hsl(336, 100%, 94%);
        outline-width: 0;
    }
    /* was trying to make gradient random */
    .projectline {
        border: 0px;
        border-bottom: 4px solid;
        border-image: linear-gradient(to right, #000e5a, #7303c0, #ec38bc);
        border-image-slice: 1;
        width: 58%;
        text-decoration: none;
    }
    /* trying animated border */
   


    
    
    .pricing .coolbox {
        font-family: 'Raleway';
        font-size: 2.5rem;
        padding: 40px 20px;
        text-align: center;
        border-radius: 8px;
        position: relative;
        /* overflow: hidden; */
    }
    /* color: #124265; */
    
    .coolbox ul {
        height: 200px;
    }
    
    .coolbox ul {
        overflow: hidden;
        overflow-y: scroll;
    }
    
    .pricing .coolbox h3 {
        font-weight: 400;
        padding: 15px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
    }
    
    .pricing .coolbox h4 {
        font-size: 42px;
        color: white;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 20px;
    }
    
    .pricing .coolbox h4 sup {
        font-size: 20px;
        top: -15px;
        left: -3px;
    }
    
    .pricing .coolbox h4 span {
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    
    .pricing .coolbox ul {
        padding: 0;
        list-style: none;
        color: #124265;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }
    
    .pricing .coolbox ul li {
        padding-bottom: 16px;
    }
    
    .pricing .coolbox ul .na {
        color: rgb(195, 231, 255);
        text-decoration: line-through;
    }
    
    .pricing .coolbox .btn-wrap {
        padding: 10px;
        text-align: center;
    }
    
    .pricing .coolbox .btn-buy {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 4px;
        color: #2487ce;
        transition: none;
        font-size: 14px;
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        transition: 0.3s;
        border: 2px solid #2487ce;
    }
    
    .pricing .coolbox .btn-buy:hover {
        background: #2487ce;
        color: #fff;
    }
    
    .gradient-border {
        --borderWidth: 7px;
        background: #1D1F20;
        position: relative;
        border-radius: var(--borderWidth);
    }
    
    .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }
    
    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    /* new card */
    
    .order-card {
        color: #fff;
    }
    
    .bg-c-blue {
        background: linear-gradient(45deg, #2d8efd, #73b4ff);
    }
    
    .bg-c-yellow {
        background: linear-gradient(45deg, #FFB64D, #ffcb80);
    }
    
    .card {
        border-radius: 5px;
        /* -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16); */
        border: none;
        margin-bottom: 2.5px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    a:hover {
        color: rgb(2, 25, 59);
    }
    
    .card .card-block {
        padding: 0.7em;
    }
    
    .order-card i {
        font-size: 26px;
    }
    
    .f-left {
        float: left;
    }
    
    .f-right {
        float: right;
    }
    
    #koi1 {
        margin-right: 5%;
    }
    
    #koi1 {
        margin-left: 5%;
    }
    .write-container{
        padding-left: 17%; 
        padding-right: 17%; 
        padding-top: 2.9%;
    
    }

    .info-message {
        background-color: #97c0fd;
        color: #181717;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
        text-align: center; /* Center the text */
        font-weight: 500;
    }
    
    @media only screen and (max-width: 768px) {
        /* Adjust styles for mobile devices */
        .info-message {
            font-size: 14px; /* Decrease font size for smaller screens */
            padding: 8px; /* Adjust padding */
            margin-bottom: 8px; /* Adjust margin */
        }
        .write-container{
            padding-left: 5%; 
            padding-right: 5%; 
            padding-top: 2.9%;
        
        }

    }


