
    
    html {
        scroll-behavior: smooth;
    }
    

    #header {
        transition: all 0.5s;
        background: #fff;
        padding: 15px 0;
        border-bottom: 1px solid #e6f2fb;
    }
    
    #header.header-scrolled {
        border-color: #fff;
        box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
    }
    
    #header .logo {
        font-size: 28px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 300;
        letter-spacing: 0.5px;
        font-family: "Poppins", sans-serif;
    }
    
    #header .logo a {
        color: #16507b;
    }
    
    #header .logo img {
        max-height: 40px;
    }


    .navbar {
        padding: 0;
    }
    
    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }
    
    .navbar li {
        position: relative;
    }
    
    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 14px;
        color: #16507b;
        white-space: nowrap;
        transition: 0.3s;
    }
    
    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }
    
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #2487ce;
    }
    
    .navbar .getstarted {
        background: #2487ce;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }
    
    .navbar .getstarted:hover {
        color: #fff;
        background: #3194db;
    }
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, .5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 10px;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, .5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 10px;
    }
    
    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    
    .login-box .user-box {
        position: relative;
    }
    
    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }
    
    .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }
    
    .login-box .user-box input:focus~label,
    .login-box .user-box input:valid~label {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 12px;
    }
    
    .login-box form a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
    }
    
    .login-box a:hover {
        background: #03e9f4;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
    }
    
    .login-box a span {
        position: absolute;
        display: block;
    }
    
    .login-box a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: btn-anim1 1s linear infinite;
    }
   
    @media (max-width: 1366px) {
        .navbar .dropdown .dropdown ul {
            left: -90%;
        }
        .navbar .dropdown .dropdown:hover>ul {
            left: -100%;
        }
    }
    
    @media (max-width: 992px) {
        #header .logo {
            font-size: 28px;
        }
    }


    
    
    @keyframes btn-anim1 {
        0% {
            left: -100%;
        }
        50%,
        100% {
            left: 100%;
        }
    }
    
    .login-box a span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
    }
    
    @keyframes btn-anim2 {
        0% {
            top: -100%;
        }
        50%,
        100% {
            top: 100%;
        }
    }
    
    .login-box a span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
    }
    
    @keyframes btn-anim3 {
        0% {
            right: -100%;
        }
        50%,
        100% {
            right: 100%;
        }
    }
    
    .login-box a span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #03e9f4);
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
    }
    
    @keyframes btn-anim4 {
        0% {
            bottom: -100%;
        }
        50%,
        100% {
            bottom: 100%;
        }
    }
    /* Scrollbar styles */
    
     ::-webkit-scrollbar {
        width: 7px;
        height: 12px;
    }
    
     ::-webkit-scrollbar-track {
        background: #000000;
        border-radius: 10px;
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgb(3, 118, 196);
    }
    
    ul {
        padding-left: 2rem;
        list-style-type: none;
    }
    
    ul li {
        padding-left: 2rem;
        background-position: 0 0;
        background-size: 1.2rem 1.2rem;
        background-repeat: no-repeat;
    }
    /* ul {
  list-style-image: url("https://upload.wikimedia.org/wikipedia/commons/9/99/Star_icon_stylized.svg");
} */
    
    .box ul {
        height: 200px;
    }
    
    .box ul {
        overflow: hidden;
        overflow-y: scroll;
    }
    /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
    
    body {
        font-family: "Open Sans", sans-serif;
        color: #444444;
    }
    
    a {
        color: #2487ce;
        text-decoration: none;
    }
    
    a:hover {
        color: #469fdf;
        text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif;
    }
    /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
    
    .back-to-top {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        right: 15px;
        bottom: 15px;
        z-index: 996;
        background: #2487ce;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        transition: all 0.4s;
    }
    
    .back-to-top i {
        font-size: 28px;
        color: #fff;
        line-height: 0;
    }
    
    .back-to-top:hover {
        background: #3e9bdd;
        color: #fff;
    }
    
    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }
    /*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
    
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        overflow: hidden;
        background: #fff;
    }
    
    #preloader:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #2487ce;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation: animate-preloader 1s linear infinite;
        animation: animate-preloader 1s linear infinite;
    }
    
    @-webkit-keyframes animate-preloader {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes animate-preloader {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
    
    @media screen and (max-width: 768px) {
        [data-aos-delay] {
            transition-delay: 0 !important;
        }
    }
    /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
    
   
    /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
    
    html {
        scroll-behavior: smooth;
    }
    /**
* Desktop Navigation 
*/
    
   
    /**
* Mobile Navigation 
*/
    
  
    
    
    /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
    
    
    /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
    
    section {
        padding: 24px 0;
        overflow: hidden;
    }
    
    .section-bg {
        background-color: #f8fbfe;
    }
    
    .section-title {
        text-align: center;
        padding-bottom: 30px;
    }
    
    .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #124265;
    }
    
    .section-title p {
        margin-bottom: 0;
        font-size: 14px;
        color: #919191;
    }
    /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
    
    .about .content h3 {
        font-weight: 600;
        font-size: 26px;
    }
    
    .about .content ul {
        list-style: none;
        padding: 0;
    }
    
    .about .content ul li {
        padding-left: 28px;
        position: relative;
    }
    
    .about .content ul li+li {
        margin-top: 10px;
    }
    
    .about .content ul i {
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 20px;
        color: #2487ce;
        line-height: 1;
    }
    
    .about .content p:last-child {
        margin-bottom: 0;
    }
    
    .about .content .btn-learn-more {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 5px;
        transition: 0.3s;
        line-height: 1;
        color: #2487ce;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        margin-top: 6px;
        border: 2px solid #2487ce;
    }
    
    .about .content .btn-learn-more:hover {
        background: #2487ce;
        color: #fff;
        text-decoration: none;
    }
    /*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
    
    .counts {
        padding: 60px 0;
    }
    
    .counts .count-box {
        width: 100%;
        text-align: center;
    }
    
    .counts .count-box span {
        font-size: 48px;
        line-height: 48px;
        display: block;
        font-weight: 700;
        color: #124265;
        margin-left: 80px;
        margin: auto;
    }
    
    .counts .count-box p {
        padding: 8px 0 0 0;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #1e6ca6;
    }
    /*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/
    
    .about-video .content {
        font-size: 15px;
    }
    
    .about-video .content h3 {
        font-weight: 700;
        font-size: 24px;
        color: #124265;
    }
    
    .about-video .content ul {
        list-style: none;
        padding: 0;
    }
    
    .about-video .content ul li {
        padding-bottom: 10px;
        padding-left: 28px;
        position: relative;
    }
    
    .about-video .content ul i {
        font-size: 24px;
        color: #2487ce;
        position: absolute;
        left: 0;
        top: -2px;
    }
    
    .about-video .content p:last-child {
        margin-bottom: 0;
    }
    
    .about-video .play-btn {
        width: 94px;
        height: 94px;
        background: radial-gradient(#2487ce 50%, rgba(36, 135, 206, 0.4) 52%);
        border-radius: 50%;
        display: block;
        position: absolute;
        left: calc(50% - 47px);
        top: calc(50% - 47px);
        overflow: hidden;
    }
    
    .about-video .play-btn::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 100;
        transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
    .about-video .play-btn::before {
        content: '';
        position: absolute;
        width: 120px;
        height: 120px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation: pulsate-btn 2s;
        animation: pulsate-btn 2s;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 5px solid rgba(36, 135, 206, 0.7);
        top: -15%;
        left: -15%;
        background: rgba(198, 16, 0, 0);
    }
    
    .about-video .play-btn:hover::after {
        border-left: 15px solid #2487ce;
        transform: scale(20);
    }
    
    .about-video .play-btn:hover::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 200;
        -webkit-animation: none;
        animation: none;
        border-radius: 0;
    }
    
    @-webkit-keyframes pulsate-btn {
        0% {
            transform: scale(0.6, 0.6);
            opacity: 1;
        }
        100% {
            transform: scale(1, 1);
            opacity: 0;
        }
    }
    
    @keyframes pulsate-btn {
        0% {
            transform: scale(0.6, 0.6);
            opacity: 1;
        }
        100% {
            transform: scale(1, 1);
            opacity: 0;
        }
    }
    /*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
    
    .clients {
        padding: 15px 0;
        text-align: center;
    }
    
    .clients img {
        max-width: 45%;
        transition: all 0.4s ease-in-out;
        display: inline-block;
        padding: 15px 0;
        filter: grayscale(100);
    }
    
    .clients img:hover {
        filter: none;
        transform: scale(1.15);
    }
    
    @media (max-width: 768px) {
        .clients img {
            max-width: 40%;
        }
    }
    /*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
    
    .testimonials .testimonial-item {
        box-sizing: content-box;
        text-align: center;
        min-height: 320px;
    }
    
    .testimonials .testimonial-item .testimonial-img {
        width: 90px;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .testimonials .testimonial-item h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        color: #111;
    }
    
    .testimonials .testimonial-item h4 {
        font-size: 14px;
        color: #999;
        margin: 0;
    }
    
    .testimonials .testimonial-item .quote-icon-left,
    .testimonials .testimonial-item .quote-icon-right {
        color: #c9e3f5;
        font-size: 26px;
    }
    
    .testimonials .testimonial-item .quote-icon-left {
        display: inline-block;
        left: -5px;
        position: relative;
    }
    
    .testimonials .testimonial-item .quote-icon-right {
        display: inline-block;
        right: -5px;
        position: relative;
        top: 10px;
    }
    
    .testimonials .testimonial-item p {
        font-style: italic;
        margin: 0 15px 15px 15px;
        padding: 20px;
        background: #f3f9fd;
        position: relative;
        margin-bottom: 35px;
        border-radius: 6px;
    }
    
    .testimonials .testimonial-item p::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 20px solid #f3f9fd;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        position: absolute;
        bottom: -20px;
        left: calc(50% - 20px);
    }
    
    .testimonials .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }
    
    .testimonials .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #2487ce;
    }
    
    .testimonials .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #2487ce;
    }
    /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
    
    .services .icon-box {
        text-align: center;
        padding: 70px 20px 80px 20px;
        transition: all ease-in-out 0.3s;
        background: #fff;
        box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
    }
    
    .services .icon-box .icon {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in-out 0.3s;
        position: relative;
    }
    
    .services .icon-box .icon i {
        font-size: 36px;
        transition: 0.5s;
        position: relative;
    }
    
    .services .icon-box .icon svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .services .icon-box .icon svg path {
        transition: 0.5s;
        fill: #f5f5f5;
    }
    
    .services .icon-box h4 {
        font-weight: 600;
        margin: 10px 0 15px 0;
        font-size: 22px;
    }
    
    .services .icon-box h4 a {
        color: #124265;
        transition: ease-in-out 0.3s;
    }
    
    .services .icon-box p {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .services .icon-box:hover {
        border-color: #fff;
        box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
    }
    
    .services .iconbox-blue i {
        color: #47aeff;
    }
    
    .services .iconbox-blue:hover .icon i {
        color: #fff;
    }
    
    .services .iconbox-blue:hover .icon path {
        fill: #47aeff;
    }
    
    .services .iconbox-orange i {
        color: #ffa76e;
    }
    
    .services .iconbox-orange:hover .icon i {
        color: #fff;
    }
    
    .services .iconbox-orange:hover .icon path {
        fill: #ffa76e;
    }
    
    .services .iconbox-pink i {
        color: #e80368;
    }
    
    .services .iconbox-pink:hover .icon i {
        color: #fff;
    }
    
    .services .iconbox-pink:hover .icon path {
        fill: #e80368;
    }
    
    .services .iconbox-yellow i {
        color: #ffbb2c;
    }
    
    .services .iconbox-yellow:hover .icon i {
        color: #fff;
    }
    
    .services .iconbox-yellow:hover .icon path {
        fill: #ffbb2c;
    }
    
    .services .iconbox-red i {
        color: #ff5828;
    }
    
    .services .iconbox-red:hover .icon i {
        color: #fff;
    }
    
    .services .iconbox-red:hover .icon path {
        fill: #ff5828;
    }
    
    .services .iconbox-teal i {
        color: #11dbcf;
    }
    
    .services .iconbox-teal:hover .icon i {
        color: #fff;
    }
    
    .services .iconbox-teal:hover .icon path {
        fill: #11dbcf;
    }
    /*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
    
    .cta {
        background: #2487ce;
        background-size: cover;
        padding: 60px 0;
    }
    
    .cta h3 {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
    }
    
    .cta p {
        color: #fff;
    }
    
    .cta .cta-btn {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 35px;
        border-radius: 5px;
        transition: 0.5s;
        margin-top: 10px;
        border: 2px solid #fff;
        color: #fff;
    }
    
    .cta .cta-btn:hover {
        background: #fff;
        color: #2487ce;
    }
    /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
    
    .portfolio .portfolio-item {
        margin-bottom: 30px;
    }
    
    .portfolio #portfolio-flters {
        padding: 0;
        margin: 0 auto 35px auto;
        list-style: none;
        text-align: center;
        border-radius: 50px;
        padding: 2px 15px;
    }
    
    .portfolio #portfolio-flters li {
        cursor: pointer;
        display: inline-block;
        padding: 10px 15px 8px 15px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        color: #444444;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
    }
    
    .portfolio #portfolio-flters li:hover,
    .portfolio #portfolio-flters li.filter-active {
        color: #2487ce;
    }
    
    .portfolio #portfolio-flters li:last-child {
        margin-right: 0;
    }
    
    .portfolio .portfolio-wrap {
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    
    .portfolio .portfolio-wrap::before {
        content: "";
        background: rgba(36, 135, 206, 0.6);
        position: absolute;
        left: 30px;
        right: 30px;
        top: 30px;
        bottom: 30px;
        transition: all ease-in-out 0.3s;
        z-index: 2;
        opacity: 0;
    }
    
    .portfolio .portfolio-wrap .portfolio-info {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        z-index: 3;
        transition: all ease-in-out 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .portfolio .portfolio-wrap .portfolio-info::before {
        display: block;
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
        top: 35px;
        left: 35px;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        transition: all 0.5s ease 0s;
        z-index: 9994;
    }
    
    .portfolio .portfolio-wrap .portfolio-info::after {
        display: block;
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 35px;
        right: 35px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transition: all 0.5s ease 0s;
        z-index: 9994;
    }
    
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    
    .portfolio .portfolio-wrap .portfolio-info p {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }
    
    .portfolio .portfolio-wrap .portfolio-links {
        text-align: center;
        z-index: 4;
    }
    
    .portfolio .portfolio-wrap .portfolio-links a {
        color: rgba(255, 255, 255, 0.6);
        margin: 0 2px;
        font-size: 28px;
        display: inline-block;
        transition: 0.3s;
    }
    
    .portfolio .portfolio-wrap .portfolio-links a:hover {
        color: #fff;
    }
    
    .portfolio .portfolio-wrap:hover::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }
    
    .portfolio .portfolio-wrap:hover .portfolio-info {
        opacity: 1;
    }
    
    .portfolio .portfolio-wrap:hover .portfolio-info::before {
        top: 15px;
        left: 15px;
    }
    
    .portfolio .portfolio-wrap:hover .portfolio-info::after {
        bottom: 15px;
        right: 15px;
    }
    /*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
    
    .portfolio-details {
        padding-top: 40px;
    }
    
    .portfolio-details .portfolio-details-slider img {
        width: 100%;
    }
    
    .portfolio-details .portfolio-details-slider .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }
    
    .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #2487ce;
    }
    
    .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #2487ce;
    }
    
    .portfolio-details .portfolio-info {
        padding: 30px;
        box-shadow: 0px 0 30px rgba(18, 66, 101, 0.08);
    }
    
    .portfolio-details .portfolio-info h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
    
    .portfolio-details .portfolio-info ul {
        list-style: none;
        padding: 0;
        font-size: 15px;
    }
    
    .portfolio-details .portfolio-info ul li+li {
        margin-top: 10px;
    }
    
    .portfolio-details .portfolio-description {
        padding-top: 30px;
    }
    
    .portfolio-details .portfolio-description h2 {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .portfolio-details .portfolio-description p {
        padding: 0;
    }
    /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
    
    .team .member {
        margin-bottom: 20px;
        overflow: hidden;
        text-align: center;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
    }
    
    .team .member .member-img {
        position: relative;
        overflow: hidden;
    }
    
    .team .member .social {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 40px;
        opacity: 0;
        transition: ease-in-out 0.3s;
        text-align: center;
        background: rgba(255, 255, 255, 0.85);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    
    .team .member .social a {
        transition: color 0.3s;
        color: #124265;
        margin: 0 10px;
        display: inline-block;
    }
    
    .team .member .social a:hover {
        color: #2487ce;
    }
    
    .team .member .social i {
        font-size: 18px;
        margin: 0 2px;
        line-height: 0;
    }
    
    .team .member .member-info {
        padding: 25px 15px;
    }
    
    .team .member .member-info h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 18px;
        color: #124265;
    }
    
    .team .member .member-info span {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: #aaaaaa;
    }
    
    .team .member .member-info p {
        font-style: italic;
        font-size: 14px;
        line-height: 26px;
        color: #777777;
    }
    
    .team .member:hover .social {
        opacity: 1;
    }
    /*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
    
    .pricing .box {
        padding: 40px 20px;
        text-align: center;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        background: #fbffc3;
        box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    }
    
    .pricing .box h3 {
        font-weight: 400;
        padding: 15px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: #124265;
    }
    
    .pricing .box h4 {
        font-size: 42px;
        color: #2487ce;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 20px;
    }
    
    .pricing .box h4 sup {
        font-size: 20px;
        top: -15px;
        left: -3px;
    }
    
    .pricing .box h4 span {
        color: #4c40f3;
        font-size: 16px;
        font-weight: 500;
    }
    
    .pricing .box ul {
        padding: 0;
        list-style: none;
        color: #124265;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }
    
    .pricing .box ul li {
        padding-bottom: 16px;
    }
    
    .pricing .box ul .na {
        color: rgb(195, 231, 255);
        text-decoration: line-through;
    }
    
    .pricing .box .btn-wrap {
        padding: 10px;
        text-align: center;
    }
    
    .pricing .box .btn-buy {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 4px;
        color: #2487ce;
        transition: none;
        font-size: 14px;
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        transition: 0.3s;
        border: 2px solid #2487ce;
    }
    
    .pricing .box .btn-buy:hover {
        background: #2487ce;
        color: #fff;
    }
    
    .pricing .featured {
        background: #2487ce;
    }
    
    .pricing .featured h3,
    .pricing .featured h4,
    .pricing .featured h4 span,
    .pricing .featured ul,
    .pricing .featured ul .na {
        color: #fff;
    }
    
    .pricing .featured .btn-wrap {
        padding: 15px;
        text-align: center;
    }
    
    .pricing .featured .btn-buy {
        color: #fff;
        border: 2px solid #fff;
    }
    
    .pricing .featured .btn-buy:hover {
        background: #fff;
        color: #2487ce;
    }
    /*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
    
    .faq .faq-list {
        padding: 0 100px;
    }
    
    .faq .faq-list ul {
        padding: 0;
        list-style: none;
    }
    
    .faq .faq-list li+li {
        margin-top: 15px;
    }
    
    .faq .faq-list li {
        padding: 20px;
        background: #fff;
        border-radius: 4px;
        position: relative;
    }
    
    .faq .faq-list a {
        display: block;
        position: relative;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        padding: 0 30px;
        outline: none;
        cursor: pointer;
    }
    
    .faq .faq-list .icon-help {
        font-size: 24px;
        position: absolute;
        right: 0;
        left: 20px;
        color: #87c1ea;
    }
    
    .faq .faq-list .icon-show,
    .faq .faq-list .icon-close {
        font-size: 24px;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .faq .faq-list p {
        margin-bottom: 0;
        padding: 10px 0 0 0;
    }
    
    .faq .faq-list .icon-show {
        display: none;
    }
    
    .faq .faq-list a.collapsed {
        color: #343a40;
    }
    
    .faq .faq-list a.collapsed:hover {
        color: #2487ce;
    }
    
    .faq .faq-list a.collapsed .icon-show {
        display: inline-block;
    }
    
    .faq .faq-list a.collapsed .icon-close {
        display: none;
    }
    
    @media (max-width: 1200px) {
        .faq .faq-list {
            padding: 0;
        }
    }
    /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
    
    .contact .info {
        width: 100%;
        background: #fff;
    }
    
    .contact .info i {
        font-size: 20px;
        color: #2487ce;
        float: left;
        width: 44px;
        height: 44px;
        background: #e3f0fa;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }
    
    .contact .info h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #124265;
    }
    
    .contact .info p {
        padding: 0 0 0 60px;
        margin-bottom: 0;
        font-size: 14px;
        color: #217bbc;
    }
    
    .contact .info .email,
    .contact .info .phone {
        margin-top: 40px;
    }
    
    .contact .info .email:hover i,
    .contact .info .address:hover i,
    .contact .info .phone:hover i {
        background: #2487ce;
        color: #fff;
    }
    
    .contact .php-email-form {
        width: 100%;
        background: #fff;
    }
    
    .contact .php-email-form .form-group {
        padding-bottom: 8px;
    }
    
    .contact .php-email-form .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .error-message br+br {
        margin-top: 25px;
    }
    
    .contact .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }
    
    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
    }
    
    .contact .php-email-form input,
    .contact .php-email-form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
    }
    
    .contact .php-email-form input:focus,
    .contact .php-email-form textarea:focus {
        border-color: #2487ce;
    }
    
    .contact .php-email-form input {
        height: 44px;
    }
    
    .contact .php-email-form textarea {
        padding: 10px 12px;
    }
    
    .contact .php-email-form button[type="submit"] {
        background: #2487ce;
        border: 0;
        padding: 10px 30px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
    }
    
    .contact .php-email-form button[type="submit"]:hover {
        background: #3194db;
    }
    
    @-webkit-keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
    
    .breadcrumbs {
        padding: 15px 0;
        background: #f8fbfe;
        min-height: 40px;
        margin-top: 72px;
    }
    
    @media (max-width: 992px) {
        .breadcrumbs {
            margin-top: 58px;
        }
    }
    
    .breadcrumbs h2 {
        font-size: 24px;
        font-weight: 300;
    }
    
    .breadcrumbs ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
    
    .breadcrumbs ol li+li {
        padding-left: 10px;
    }
    
    .breadcrumbs ol li+li::before {
        display: inline-block;
        padding-right: 10px;
        color: #1a5e90;
        content: "/";
    }
    
    @media (max-width: 768px) {
        .breadcrumbs .d-flex {
            display: block !important;
        }
        .breadcrumbs ol {
            display: block;
        }
        .breadcrumbs ol li {
            display: inline-block;
        }
    }
    /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
    
    #footer {
        color: #444444;
        font-size: 14px;
        background: #f8fbfe;
        box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
    }
    
    #footer .footer-top {
        padding: 60px 0 30px 0;
        background: #fff;
    }
    
    #footer .footer-top .footer-contact {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-contact h3 {
        font-size: 26px;
        margin: 0 0 10px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 300;
    }
    
    #footer .footer-top .footer-contact p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Raleway", sans-serif;
        color: #777777;
    }
    
    #footer .footer-top h4 {
        font-size: 16px;
        font-weight: bold;
        color: #124265;
        position: relative;
        padding-bottom: 12px;
    }
    
    #footer .footer-top .footer-links {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #footer .footer-top .footer-links ul i {
        padding-right: 2px;
        color: #2487ce;
        font-size: 18px;
        line-height: 1;
    }
    
    #footer .footer-top .footer-links ul li {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    
    #footer .footer-top .footer-links ul li:first-child {
        padding-top: 0;
    }
    
    #footer .footer-top .footer-links ul a {
        color: #777777;
        transition: 0.3s;
        display: inline-block;
        line-height: 1;
    }
    
    #footer .footer-top .footer-links ul a:hover {
        text-decoration: none;
        color: #2487ce;
    }
    
    #footer .footer-newsletter {
        font-size: 15px;
    }
    
    #footer .footer-newsletter h4 {
        font-size: 16px;
        font-weight: bold;
        color: #444444;
        position: relative;
        padding-bottom: 12px;
    }
    
    #footer .footer-newsletter form {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 5px;
        text-align: left;
        border: 1px solid #cde5f6;
    }
    
    #footer .footer-newsletter form input[type="email"] {
        border: 0;
        padding: 4px 8px;
        width: calc(100% - 100px);
    }
    
    #footer .footer-newsletter form input[type="submit"] {
        position: absolute;
        top: -1px;
        right: -2px;
        bottom: -1px;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px 2px 20px;
        background: #2487ce;
        color: #fff;
        transition: 0.3s;
        border-radius: 0 5px 5px 0;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }
    
    #footer .footer-newsletter form input[type="submit"]:hover {
        background: #3194db;
    }
    
    #footer .credits {
        padding-top: 5px;
        font-size: 13px;
        color: #444444;
    }
    
    #footer .social-links a {
        font-size: 18px;
        display: inline-block;
        background: #2487ce;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 5px;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }
    
    #footer .social-links a:hover {
        background: #3194db;
        color: #fff;
        text-decoration: none;
    }
    
    .row {
        display: flex;
        justify-content: center;
        margin-top: 2.5%;
    }
    /* ====== */
    
    h2 {
        margin-left: 55px;
    }
   
    .content {
        border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
        border-image: none;
        border-radius: 6px 6px 6px 6px;
        border-style: none solid solid solid;
        border-width: medium 1px 1px medium;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 29em;
        font-family: "Gill Sans", sans-serif;
        font-size: 1em;
        line-height: 1.4em;
        font-weight: 500;
        padding: 5px 8px;
        transition: background-color 0.2s ease 0s;
    }
    
    .title {
        border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
        border-image: none;
        border-radius: 6px 6px 6px 6px;
        border-style: none solid solid solid;
        border-width: medium 1px 1px medium;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 30%;
        height: 10%;
        font-family: "Gill Sans", sans-serif;
        font-size: 1em;
        line-height: 1.4em;
        font-weight: 600;
        padding: 5px 8px;
        margin: 2px;
        transition: background-color 0.2s ease 0s;
    }
    
    .write:focus {
        background: none repeat scroll 0 0 hsl(336, 100%, 94%);
        outline-width: 0;
    }
    
    .projectline {
        border: 0px;
        border-bottom: 4px solid;
        border-image: linear-gradient(to right, #000e5a, #7303c0, #ec38bc);
        /* border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213)); */
        border-image-slice: 1;
        width: 58%;
        /* margin: auto; */
        text-decoration: none;
    }
    /* trying animated border */
    
    .pricing .coolbox {
        font-family: 'Raleway';
        font-size: 2.5rem;
        padding: 40px 20px;
        text-align: center;
        border-radius: 8px;
        position: relative;
        /* overflow: hidden; */
    }
    /* color: #124265; */
    
    .coolbox ul {
        height: 200px;
    }
    
    .coolbox ul {
        overflow: hidden;
        overflow-y: scroll;
    }
    
    .pricing .coolbox h3 {
        font-weight: 400;
        padding: 15px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
    }
    
    .pricing .coolbox h4 {
        font-size: 42px;
        color: white;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 20px;
    }
    
    .pricing .coolbox h4 sup {
        font-size: 20px;
        top: -15px;
        left: -3px;
    }
    
    .pricing .coolbox h4 span {
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    
    .pricing .coolbox ul {
        padding: 0;
        list-style: none;
        color: #124265;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }
    
    .pricing .coolbox ul li {
        padding-bottom: 16px;
    }
    
    .pricing .coolbox ul .na {
        color: rgb(195, 231, 255);
        text-decoration: line-through;
    }
    
    .pricing .coolbox .btn-wrap {
        padding: 10px;
        text-align: center;
    }
    
    .pricing .coolbox .btn-buy {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 4px;
        color: #2487ce;
        transition: none;
        font-size: 14px;
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        transition: 0.3s;
        border: 2px solid #2487ce;
    }
    
    .pricing .coolbox .btn-buy:hover {
        background: #2487ce;
        color: #fff;
    }
    
    .gradient-border {
        --borderWidth: 7px;
        background: #1D1F20;
        position: relative;
        border-radius: var(--borderWidth);
    }
    
    .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }
    
    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    /* new card */
    
    .order-card {
        color: #fff;
    }
    
    .bg-c-blue {
        background: linear-gradient(45deg, #2d8efd, #73b4ff);
    }
    
    .bg-c-yellow {
        background: linear-gradient(45deg, #FFB64D, #ffcb80);
    }
    
    .card {
        border-radius: 5px;
        /* -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16); */
        border: none;
        margin-bottom: 2.5px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    a:hover {
        color: rgb(2, 25, 59);
    }
    
    .card .card-block {
        padding: 0.7em;
    }
    
    .order-card i {
        font-size: 26px;
    }
    
    .f-left {
        float: left;
    }
    
    .f-right {
        float: right;
    }
    
    #koi1 {
        margin-right: 5%;
    }
    
    #koi1 {
        margin-left: 5%;
    }
    /* quick nav */
    
    .nav,
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav {
        z-index: 2;
        size: 5%;
        position: relative;
        background-color: #fff;
        padding: 10px;
        transition: 0.5s;
        border-radius: 50px;
        overflow: auto;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
    }
    
    .menu {
        margin: 0;
        padding: 0;
        width: 0;
        overflow: hidden;
        transition: 0.5s;
    }
    
    .nav input:checked~.menu {
        width: 450px;
    }
    
    .menu li {
        list-style: none;
        margin: 0 10px;
    }
    
    .menu li a {
        text-decoration: none;
        color: #666;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.5s;
    }
    
    .menu li a:hover {
        color: #161919;
    }
    
    .nav input {
        width: 40px;
        height: 40px;
        cursor: pointer;
        opacity: 0;
    }
    
    .nav span {
        position: absolute;
        left: 30px;
        width: 30px;
        height: 4px;
        border-radius: 50px;
        background-color: #666;
        pointer-events: none;
        transition: 0.5s;
    }
    
    .nav input:checked~span {
        background-color: #f974a1;
    }
    
    .nav span:nth-child(2) {
        transform: translateY(-8px);
    }
    
    .nav input:checked~span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
    }
    
    .nav span:nth-child(3) {
        transform: translateY(8px);
    }
    
    .nav input:checked~span:nth-child(3) {
        transform: translateY(0) rotate(45deg);
    }
    
    .info {
        background-color: #e7f3fe;
        border-left: 6px solid #2196F3;
    }
   